WebApiFinbeCore/WebApiFinbeCore.Domain/Connected Services/SPFileUpload/SPFileUpload7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SPFileUploadService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SPFileUploadService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://srvpbashare.mdaote.bepensa.local/SPFileUpload.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infopoint.NET" />
  <xs:import schemaLocation="https://srvpbashare.mdaote.bepensa.local/SPFileUpload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infopoint.NET.SharepointType" />
  <xs:import schemaLocation="https://srvpbashare.mdaote.bepensa.local/SPFileUpload.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DatosSitioDestino">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infopoint.NET" minOccurs="0" name="Credencial" nillable="true" type="q1:Credenciales" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infopoint.NET.SharepointType" minOccurs="0" name="Sitio" nillable="true" type="q2:SPDatosSitio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosSitioDestino" nillable="true" type="tns:DatosSitioDestino" />
  <xs:simpleType name="accionSPArchivo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SobreEscribir">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoSobreEscribir">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="accionSPArchivo" nillable="true" type="tns:accionSPArchivo" />
</xs:schema>