WebApiFinbeCore/WebApiFinbeCore.Domain/Connected Services/SPFileUpload/SPFileUpload2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infopoint.NET" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infopoint.NET" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credenciales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dominio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credenciales" nillable="true" type="tns:Credenciales" />
</xs:schema>