WebApiFinbeCore/WebApiFinbeCore.Domain/Connected Services/SPFileUpload/SPFileUpload5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.SharePoint.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.SharePoint.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileCreationInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientValueObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Overwrite" type="xs:boolean" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileCreationInformation" nillable="true" type="tns:FileCreationInformation" />
  <xs:complexType name="ClientValueObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ClientValueObject" nillable="true" type="tns:ClientValueObject" />
</xs:schema>